FIREBASE_PROJECT_ID=alafi-art-website
FIREBASE_SERVICE_ACCOUNT_FILE=serviceAccount.json
FIREBASE_SERVICE_ACCOUNT_JSON=
ADMIN_EMAILS=jonathanalafi@gmail.com,muhwezipetros@gmail.com
CLOUDINARY_CLOUD_NAME=pmhpabd8
CLOUDINARY_UPLOAD_PRESET=lpwbmgnq
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
FRONTEND_DIR=
CORS_ORIGINS=https://alafi-art-work.twendelink.com,http://localhost:8000,http://127.0.0.1:8000
